* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(15, 55, 129);
}
p {
    margin: 0;
    padding: 0;
}
.titolo {
    color: whitesmoke;
    text-align: center;
    margin: 30px;
}
.my-container {
    display: flex;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
}
.square {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(65, 219, 168);
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: bold;
}